.banner {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg,rgb(224, 209, 206),rgb(235, 228, 227));
    color: #fff;
    text-align: center;
    position: relative;
    transition: transform 0.5s ease-out;
    font-family: "Homer Simpson UI";
  }
  
  .banner.slide-up {
    transform: translateY(-100%); 
  }
  
  .banner-content h1 {
    font-size: 80px;
    margin-bottom: 1rem;
    color: #180a07;
  }
  
  .banner-content p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: #000;
  }
  
  .scroll-button {
    background: none;
    border: none;
    color: #e97b64;
    font-size: 2rem;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .scroll-button:hover {
    transform: translateY(5px);
  }
  