.navbar {
    display: flex;
    justify-content: flex-end; 
    background-color: #d9dae2;
    padding: 20px 30px; 
}

.navbar-links {
    display: flex; 
}

.navbar-links a {
    margin-left: 20px; 
    text-decoration: none; 
    color: #333; 
    font-weight: bold; 
}

.navbar-links a:hover {
    color: #e97b64; 
}